body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background: #A0C878;
    color: white;
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.noticia {
    background: #ddeb9d;
    padding: 15px;
    border-radius: 5px;
}

.pag {
background-color: white;
    color: black;
    list-style: circle;
    display: flex;
    gap: 50px;
    padding: 20px 0;
}

nav {
   background-color: #27667b;
    padding: 20px 0;
    border-bottom: 2px solid #27667b; 
    font-size: 20px;
    display: flex;
    gap: 50px;
}

ul{
    color: white;
}

h1 {
    font-size: 50px;
    color: #143d60;
}
h2{
    font-size: 30px;
    color: #143d60;
}
.nav-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}